body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: -78px -348.6666666667px hsl(191, 100%, 50%), 9px 52.3333333333px hsl(136, 100%, 50%), -35px -25.6666666667px hsl(118, 100%, 50%), 189px 6.3333333333px hsl(16, 100%, 50%), -7px -222.6666666667px hsl(191, 100%, 50%), 73px -199.6666666667px hsl(200, 100%, 50%), -148px -330.6666666667px hsl(351, 100%, 50%), 83px -278.6666666667px hsl(222, 100%, 50%), 38px -40.6666666667px hsl(47, 100%, 50%), 107px -300.6666666667px hsl(186, 100%, 50%), -228px -165.6666666667px hsl(100, 100%, 50%), 107px -129.6666666667px hsl(51, 100%, 50%), -224px -84.6666666667px hsl(3, 100%, 50%), 61px -217.6666666667px hsl(4, 100%, 50%), 204px 54.3333333333px hsl(0, 100%, 50%), -86px -316.6666666667px hsl(107, 100%, 50%), 219px -66.6666666667px hsl(201, 100%, 50%), 186px -0.6666666667px hsl(66, 100%, 50%), 60px -166.6666666667px hsl(53, 100%, 50%), 203px -275.6666666667px hsl(216, 100%, 50%), 246px -154.6666666667px hsl(23, 100%, 50%), 199px 79.3333333333px hsl(25, 100%, 50%), 193px 60.3333333333px hsl(7, 100%, 50%), -44px 4.3333333333px hsl(28, 100%, 50%), 222px -339.6666666667px hsl(97, 100%, 50%), -139px 1.3333333333px hsl(192, 100%, 50%), 2px 13.3333333333px hsl(290, 100%, 50%), 4px -404.6666666667px hsl(234, 100%, 50%), -195px -347.6666666667px hsl(90, 100%, 50%), -201px -54.6666666667px hsl(103, 100%, 50%), 42px -233.6666666667px hsl(116, 100%, 50%), -151px -309.6666666667px hsl(155, 100%, 50%), 104px -46.6666666667px hsl(246, 100%, 50%), -5px 10.3333333333px hsl(108, 100%, 50%), -129px 47.3333333333px hsl(278, 100%, 50%), -18px -178.6666666667px hsl(347, 100%, 50%), -221px -76.6666666667px hsl(126, 100%, 50%), -69px -106.6666666667px hsl(42, 100%, 50%), -95px -251.6666666667px hsl(128, 100%, 50%), -82px 5.3333333333px hsl(0, 100%, 50%), 41px -25.6666666667px hsl(349, 100%, 50%), 211px -283.6666666667px hsl(282, 100%, 50%), 87px -8.6666666667px hsl(184, 100%, 50%), -129px 9.3333333333px hsl(206, 100%, 50%), 93px -390.6666666667px hsl(187, 100%, 50%), -113px -135.6666666667px hsl(158, 100%, 50%), -163px -111.6666666667px hsl(33, 100%, 50%), -66px -310.6666666667px hsl(304, 100%, 50%), -51px -56.6666666667px hsl(94, 100%, 50%), -159px -146.6666666667px hsl(206, 100%, 50%), -5px -218.6666666667px hsl(156, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}/*# sourceMappingURL=win.css.map */